.app.dark {
    --bg-color: #090956;
    --inverted-bg-color: #e8e8ea;
    --primary-color:  #04ff04;
    --secondary-color: #079107;
    --inverted-primary-color: #042696;
    --inverted-secondary-color: #1a48bd;
}
